/* *** navbar *** */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0 2rem;
  z-index: 1;
}

.navbar h2 {
  font-size: 2rem;
}

.navbar a {
  text-decoration: none;
  color: var(--light);
}

.navbar .carrito {
  font-size: 1.1rem;
}

/* *** header *** */
.home-header {
  margin-top: 56px;
  height: 30rem;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.021), rgba(0, 0, 0, 0.575)),
    url("https://assets.eldesconcierto.cl/2020/03/544-1-1024x576.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light);
  text-align: center;
  filter: contrast(109%);
}

.home-header h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.home-header p {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
  width: 75%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.575);
}

/*** menu ***/
.menu {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: start;
  padding-top: 3.5rem;
}

.card {
  width: 25%;
  padding: 1.5rem 2rem;
  text-transform: capitalize;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 350ms;
}

.card-content {
  border: 1px solid rgba(114, 114, 114, 0.336);
  border-radius: 5px;
}

.card-content img {
  width: 100%;
  filter: contrast(125%);
}

.card-content h3 {
  padding: 1rem;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid rgba(114, 114, 114, 0.336);
  color: var(--secondary);
}

.ingredients {
  padding: 0.75rem;
  border-bottom: 1px solid rgba(114, 114, 114, 0.336);
  color: var(--dark);
}

.ingredients p {
  padding: 0.75rem;
  font-weight: bold;
}

.ingredients li {
  padding-left: 1.5rem;
  list-style: none;
  margin-bottom: 0.5rem;
}
.ingredients li i {
  color: var(--primary);
}

.card-content .price {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.75rem;
  color: var(--primary);
  font-weight: bold;
}

.card-btn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.btn {
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 23px;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  box-shadow: inset 0px 1px 3px 0px var(--dark);
  background: linear-gradient(to bottom, var(--light) 5%, var(--primary) 25%);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--light);
  box-shadow: inset 0px 1px 3px 0px var(--dark);
  background: linear-gradient(to bottom, var(--dark) 5%, var(--secondary) 25%);
}
