@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");

:root {
  --primary: #E25414;
  --secondary: #11770E;
  --light: #FEFFE6;
  --disabled: #D3B069;
  --dark: #380305;
  --shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.15);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin-top: 56px ;
  max-width: 1200px;
  margin: auto;
  min-height: calc(100vh - 200px);
}

body {
  font-family: "Assistant", sans-serif;
  background-color: var(--light);
}
